/*** VSEOBECNE ***/
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** NAVBAR **/
.navbar {
  background-color: green;
  position: absolute;
  font-family: 'Sixtyfour', sans-serif;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar p {
  text-transform: capitalize;
  font-size: 30px;
  padding-left: 10px;
  color: rgb(206, 50, 167);
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.links {
  font-size: 24px;
  list-style-type: none;
  display: flex;
  padding: 0;

  /* justify-content: flex-start;
  padding-left: 25%; */

  /* justify-content: center;
  padding: 0; */
  margin: 25px;
}

.links li {
  margin-right: 50px;
}

.links a:link {
  color: #ff9100;
  text-decoration: none;
  font-weight: bold;

  transition: color 0.5s;
}
.links a:visited {
  color: #ff9100;
}
.links a:hover {
  color: #0011ff;
}

/** CALCULATOR **/

.calculator {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.25rem;
  width: calc(25rem + 0.5rem);
}

/** BAR **/
.bar {
  border: 0.25rem solid rgb(73, 175, 103);
  border-radius: 0.5rem;

  width: 25rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}

/** BUTTONS **/
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  width: 4.375rem;
  height: 4.375rem;
  font-size: 2rem;
  margin: 2px;
}

/*** CISELNIK ***/
.numbers {
  border: 0.25rem solid rgb(73, 175, 103);
  border-radius: 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, auto);
}

/*** OPERATORY ***/
.special-operator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border: 0.25rem solid rgb(98, 51, 136);
  border-radius: 0.5rem;
}

.visible-hidden {
  visibility: hidden;
}

/*** ZAUJIMAVE ***/
.zatvorka {
  grid-column: 3;
}
